  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(24, 215, 91);
    background: rgb(rgb(115, 255, 0), green, rgb(255, 0, 8))
  }
  .heading_div
  {
float: none ;
    background: white ;
    padding: 10px; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(174, 160, 160);
    font-size: 20px;
  }
 .copy_right_footer {
  position: fixed;
  color:antiquewhite;
  bottom: 0;
  width: 100%;
  background-color: rgb(10, 88, 2); 
  line-height: 3;
  text-align: center;
  }
  canvas{
    border:5px solid rgb(125, 221, 95);
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(52, 133, 27);
    margin-top: 160px;
  }